body {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.nav-links {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: rgb(139, 139, 139);
    color: rgb(0, 0, 0);
    gap: 2rem;
    padding: 1rem 0;
    text-decoration: none;

}

