body {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 1.1rem;
    font-family: montserrat;
    background: #b8b8b8;
    background: linear-gradient(90deg, rgba(184, 184, 184, 1) 5%, rgba(255, 255, 255, 1) 50%, rgba(184, 184, 184, 1) 95%);
}

.navbar {
    background-color: rgb(139, 139, 139);
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255);    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

.logo {
    font-size: 1.5rem;
}

